# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
.visionXM/
.venv/
venv/
env/

# ===========================
# Dataset
# ===========================
data/
yolo_dataset/

# ===========================
# Model Files
# ===========================
*.pt
models/
*.pth
*.pt
*.ckpt
*.onnx
*.engine
*.trt


# ===========================
# Training Outputs
# ===========================
results/
checkpoints/
lightning_logs/
runs/
wandb/
mlruns/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/
.cache/

# ===========================
# Environment Variables
# ===========================
.env
.env.*

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log